.shift-group-form {
  padding: 100px;
  display: flex;
  flex-flow: column;
  justify-content:center ;
  align-items: center;
  overflow: scroll;
  background-color: white;
}

.shift-group-name {
  height: 30px;
  width: 350px;
  margin-bottom: 20px;
  font-family: monospace;
}

.shift-group-member {
  height: 80px;
  width: 350px;
  margin-bottom: 20px;
  overflow: scroll;
  font-family: monospace;
  font-size: 15px;
  color: rgb(68, 68, 68);
}

.new_group {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  border: none ;
  padding: 30px 10px;
}
.page-back {
  font-size: 25px;
  color: rgb(12, 158, 12);
  text-decoration: none;
  font-family: monospace;
  margin-top: 20px;
}