
.wrapper {
  display: flex;
}
.side-bar {
  width: 300px;
  height: 100vh;
}
.group {
  width: calc(100vw - 300px);
  height: 100vh;
}

.side-bar-header {
  background-color: hsl(120, 40%, 25%);
  border: solid 1px hsl(120, 14%, 36%);
  height: 70px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: calc(300px - 100px);
  background-color: rgb(52, 126, 77);
  padding: 20px 7px 20px 0;
  border: solid 1px rgb(102, 126, 103);
}
.user-info {
  display: flex;
  align-items: center;
}
.user-info-lists {
  width: 180x;
  position: absolute;
  left: 15px;
  top: 10px;
  border: solid 1px rgb(3, 75, 9);
}
.user-info-image {
  margin-left: 5px;
}
.user-info-name {
  margin-left: 5px;
  color: #FFFFFF;
  font-family: monospace;
  font-size: 14px;
}

.create-group {
  height: 40px;
  background-color: rgb(52, 126, 77);
  border: 1px solid rgb(102, 126, 103);
  padding: 20px 0;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-group a{
  font-size: 14px;
  color: white;
  text-decoration: none;
  font-family: monospace;
}
.groups {
  background-color: hsl(120, 40%, 25%);
  height: calc(100vh - 70px);
  padding: 0 10px;
  overflow: scroll;
}
.group-contents {
  font-size: 15px;
  font-family: monospace;
  color: #FFFFFF;
  background-color: rgb(52, 126, 77);
  margin: 15px 0 15px;
  border: solid 1px hsl(120, 14%, 36%);
  padding: 10px 10px;
}
.group-internal {
  padding: 10px 15px 20px;
}
.group-internal-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.group-link-button {
  text-decoration: none;
  color: white;
  font-family: monospace;
  font-size: 13px;
}
.group-internal-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.group-drop {
  display: flex;
  align-items: center;
}
.drop-icon {
  background-color: hsl(0, 74%, 71%);
  border-radius: 50%;
}

.group-member-count {
  color: rgb(199, 199, 199);
  font-size: 12px;
  font-family: monospace;
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.group-external {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 20px;
}
.group-external-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.group-external-name {
  color: white;
  font-family: monospace;
  font-size: 13px;
}
.group-join {
  display: flex;
  align-items: center;
}
.join-icon {
  background-color: hsl(143, 52%, 64%);
  border-radius: 50%;
}

.group-header {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
  height: 70px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  color: #277224;
  font-size: 30px;
  font-family: monospace;
}
.group-edit-button {
  margin-left: 20px;
  padding: 20px 20px;
  background-color: #5aa357;
  display: flex;
  align-items: center;
  border-radius: 50px;
  position: relative;
}
.pull-down-list{
  padding: 15px 35px 15px 15px;
  border: 1px solid #eee;
  background-color: white;
}
.pull-down-list a{
  font-family: monospace;
}
.group-info-lists {
  width: 180px;
  position: absolute;
  top: 50px;
  right: 0px;
  border: solid 1px rgb(181, 201, 182);
}
.group-info-bar {
  text-decoration: none;
  color: rgb(1, 51, 5);
}

.messages {
  background-color: #ffffff;
  height: calc(100vh - 70px - 60px);
  border: solid 1px hsl(0, 0%, 91%);
  padding: 20px 10px 0;
  overflow: scroll;
}
.message-frame {
  display: flex;
}
.message {
  margin-left: 10px;
}

.upper-message{
  display: flex;
}

.message-user {
  color: #434a54;
  font-size: 12px;
  font-family: monospace;
}

.message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 5px;
}

.message-content {
  color: #434a54;
  font-size: 15px;
  margin-bottom: 20px;
}
.form {
  background-color: #ffffff;
  height: 60px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
}
.form-input {
  background-color: white;
  display: flex;
  width: 100%;
}

.form-message {
  border: none;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  border: solid 1px rgb(219, 219, 219);
}

.form-submit {
  background-color: #6e396e;
  border: none;
  color: white;
  font-size: 16px;
  font-family: monospace;
  height: 40px;
  margin-left: 15px;
  padding: 0 20px;
}

.user-info-lists {
  width: 180x;
  position: absolute;
  left: 5px;
  top: 80px;
  border: solid 1px rgb(3, 75, 9);
}

.user-info-bar {
  text-decoration: none;
  color: rgb(1, 51, 5);
}

.hidden {
  display: none;
}