/* リセットCSS */
.field_with_errors {
  display: contents;
}

.error-alert {
  background-color: rgb(255, 225, 225);
  padding: 10px;
  border: solid 1px rgb(255, 139, 139);
  margin-bottom: 20px;
}
.error-message {
  color: rgb(182, 3, 3);
  font-size: 13px;
  font-family: monospace;
}

.icon_image {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  object-fit: cover;
}

.container {
  display: flex;
  flex-flow:column ;
  justify-content:center ;
  align-items: center;
  overflow: scroll;
  padding: 30px;
  background-color: white;
}

h1 {
  font-size: 40px;
  font-family: monospace;
  color: rgb(12, 158, 12);
  margin-bottom: 20px;
}
.flame-form {
  background-color: rgb(247, 247, 247);
  border: solid 3px rgb(200, 200, 200);
  border-radius: 10mm;
}

.new_user {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 350px;
  border: none ;
  padding: 5px 5px;
}

.field-label {
  color: rgb(85, 85, 85);
  font-size: 15px;
  font-family: monospace;
}

.text-area {
  height: 30px;
  width: 350px;
  margin-bottom: 10px;
  font-family: monospace;
}

.btn {
  height: 50px;
  width: 350px;
  color: white;
  background-color: rgb(12, 158, 12);
  border: none;
  font-size: 20px;
  font-family: monospace;
  margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 2mm;
}

h4 {
  color: rgb(61, 61, 61);
  font-family: monospace;
  font-size: 20px;
  margin: 10px 0;
}

.user-session-link {
  font-size: 20px;
  color: rgb(12, 158, 12);
  text-decoration: none;
  font-family: monospace;
}

.new_account {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 700%;
  padding: 10px 5px;
}

.time-field-input {
  font-family: monospace;
  margin-bottom: 10px;
  height: 30px;
  width: 350px;
  font-size: 19px;
}